<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021564457314-52mk7bnvds8ohgsecbdtfmblmbkfe9g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021564457314-52mk7bnvds8ohgsecbdtfmblmbkfe9g4</string>
	<key>API_KEY</key>
	<string>AIzaSyA165e-1Vagm5xsKb26PRy7MhlCQQvKZH0</string>
	<key>GCM_SENDER_ID</key>
	<string>1021564457314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yokim.LampUIKit</string>
	<key>PROJECT_ID</key>
	<string>lampuikit</string>
	<key>STORAGE_BUCKET</key>
	<string>lampuikit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021564457314:ios:58ade7230c4ad917d59c3b</string>
</dict>
</plist>